*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.classpath
.settings
.project
target
.springBeans
eclipse-launch-profiles
jreader-web/src/main/webapp/css/reader.css
jreader-web/src/main/webapp/css/reader-all.css
jreader-web/src/main/webapp/js/reader-all.js
test-output

