<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<import resource="classpath:/jreader-services.xml" />
 	
	<mvc:annotation-driven />
	
	<util:properties id="cronProps" location="/WEB-INF/cron.properties" />
	<util:properties id="versionProps" location="/WEB-INF/application.properties" />

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="googleUserService"
		class="com.google.appengine.api.users.UserServiceFactory" factory-method="getUserService" />
	
	<bean class="jreader.web.controller.PageController">
		<constructor-arg ref="userService" />
		<constructor-arg ref="googleUserService" />
		<constructor-arg value="#{versionProps.version}" />
	</bean>
	
	<bean class="jreader.web.controller.CronJobController" />
	
	<bean class="jreader.web.controller.TaskController">
		<constructor-arg ref="cronService" />
		<constructor-arg value="#{cronProps.minAgeToDelete}" />
		<constructor-arg value="#{cronProps.minCountToKeep}" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.GroupController">
		<constructor-arg ref="subscriptionService" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.SubscriptionController">
		<constructor-arg ref="subscriptionService" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.EntryController">
		<constructor-arg ref="subscriptionService" />
		<constructor-arg ref="feedEntryService" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.ArchiveController">
		<constructor-arg ref="archiveService" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.ArchivedEntryController">
		<constructor-arg ref="archiveService" />
	</bean>
	
	<bean class="jreader.web.controller.ajax.GlobalExceptionHandler" />

</beans>