body {
	background-color: #333;
	font-family: Arial;
	color: #ccc;
}

#logout-menu-item a {
	text-decoration: none;
	color: #ccc;
}

#logout-menu-item:hover a {
	color: #000;
}

#menu {
	width: 200px;
	float: left;
	margin: 5px 0px 0px 5px;
}

#menu .menu-item .title {
	vertical-align: middle;
	font-size: 110%;
}

#logout-menu-item .icon,#menu .menu-item .icon {
	background-repeat: no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

#logout-menu-item .icon {
	background-image: url('/images/logout_grey.png');
}

#logout-menu-item:hover .icon {
	background-image: url('/images/logout_black.png');
}

#home-menu-item .icon {
	background-image: url('/images/home_grey.png');
}

#home-menu-item:hover .icon,#home-menu-item.selected .icon,#home-menu-item.selected:hover .icon
	{
	background-image: url('/images/home_black.png');
}

#all-items-menu-item .icon {
	background-image: url('/images/list_grey.png');
}

#all-items-menu-item:hover .icon,#all-items-menu-item.selected .icon,#all-items-menu-item.selected:hover .icon
	{
	background-image: url('/images/list_black.png');
}

#settings-menu-item .icon {
	background-image: url('/images/gear_grey.png');
}

#settings-menu-item:hover .icon,#settings-menu-item.selected .icon,#settings-menu-item.selected:hover .icon
	{
	background-image: url('/images/gear_black.png');
}

#logout-menu-item,#menu .menu-item {
	font-size: 110%;
	padding: 3px 10px;
	cursor: pointer;
}

#logout-menu-item:hover,#menu .menu-item:hover {
	background-color: #eee;
	color: #000;
}

#menu .menu-group.menu-item.collapsed:hover .group-collapse .collapsed,#menu .menu-group.menu-item.selected.collapsed:hover .group-collapse .collapsed,#menu .menu-group.menu-item.selected.collapsed .group-collapse .collapsed
	{
	background-image: url('/images/arrow_right_black.png');
}

#menu .menu-group.menu-item:hover .group-collapse .uncollapsed,#menu .menu-group.menu-item.selected:hover .group-collapse .uncollapsed,#menu .menu-group.menu-item.selected .group-collapse .uncollapsed
	{
	background-image: url('/images/arrow_down_black.png');
}

#main-area {
	padding-left: 210px;
	margin-right: 5px;
	margin-top: 5px;
}

#footer {
	clear: both;
}

#menu .menu-item.selected {
	background-color: #ccc;
	color: #000;
}

#menu .menu-group {
	padding: 3px 10px;
}

#menu .menu-group .group-title {
	font-size: 110%;
	vertical-align: middle;
}

#menu .menu-group .unread-count {
	font-size: 110%;
	vertical-align: middle;
}

#menu .menu-group .menu-item {
	font-size: 100%;
	padding-left: 15px;
	display: block;
}

#menu .menu-group.collapsed .menu-item {
	display: none;
}

#menu .menu-group.collapsed .group-collapse .collapsed {
	display: inline-block;
}

#menu .menu-group .group-collapse .uncollapsed {
	background-image: url('/images/arrow_down_grey.png');
	display: inline-block;
}

#menu .menu-group.collapsed .group-collapse .uncollapsed {
	display: none;
}

#menu .menu-group .group-collapse .collapsed {
	background-image: url('/images/arrow_right_grey.png');
	display: none;
}

#menu .menu-group .group-collapse span {
	background-repeat: no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

#nav-bar {
	margin: 5px 0px;
}

#nav-bar span {
	margin-right: 10px;
}

#nav-bar button {
	margin: 0px; padding : 2px;
	background-color: #ccc;
	border: 1px outset #eee;
	padding: 2px;
	cursor: pointer;
}

#nav-bar .actions button {
    border-radius: 3px;
}

#nav-bar .items-selection button:first-child,
#nav-bar .items-order button:first-child {
    border-radius: 3px 0px 0px 3px;
}

#nav-bar .items-selection button:last-child,
#nav-bar .items-order button:last-child {
    border-radius: 0px 3px 3px 0px;
}

#nav-bar button:hover {
	border: 1px inset #eee;
}

#nav-bar button[data-selected="true"] {
	background-color: #aaa;
	border: 1px inset #aaa;
}

#nav-bar button img {
	width: 16px;
	height: 16px;
}

#status-bar {
	display: none;
}

#status-bar.loading-subscriptions,#status-bar.loading-feed-entries {
	display: block;
}

#feed-entries {
	width: 100%;
	border-collapse: separate;
}

.feed-entry .breadcrumb .feed-title,.feed-entry .breadcrumb .title,.feed-entry .breadcrumb .date
	{
	cursor: pointer;
}

.feed-entry .breadcrumb td {
	background-color: #ccc;
	color: #000;
}

.feed-entry.unread .breadcrumb td {
	background-color: #aaa;
}

.feed-entry .breadcrumb {
	font-size: 110%;
}

.feed-entry .breadcrumb td {
	border-top: 1px solid #333;
}

.feed-entry .breadcrumb:hover td {
	background-color: #eee;
}

.breadcrumb td {
	white-space: nowrap;
	padding: 3px 3px;
	vertical-align: middle;
}

.breadcrumb .title {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.feed-entry tr.detail td {
	background-color: #eee;
	padding: 5px 30px;
	color: #000;
}

.breadcrumb .star-buttons button {
	border: none;
	background: none;
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
	padding: 3px 0px;
}

.breadcrumb .star-buttons button.star {
	background-image: url('/images/star_grey.png');
}

.breadcrumb .star-buttons button.star:hover {
	background-image: url('/images/star_light.png');
}

.breadcrumb .star-buttons button.unstar {
	background-image: url('/images/star_yellow.png');
}

.breadcrumb .star-buttons button.unstar:hover {
	background-image: url('/images/star_light.png');
}