button::-moz-focus-inner {
  border: 0;
}
body {
  font-family: Helvetica;
  background-color: #ecf0f1;
  color: #000000;
  font-size: 110%;
}
.menu-icon {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
#menu {
  position: fixed;
  width: 200px;
  float: left;
  margin: 0px 0px 0px 5px;
}
#menu .menu-group .menu-item.group-item .icon {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
#menu .menu-group .menu-item.group-item .collapsed-icon {
  background-image: url('/images/arrow_right_black.png');
  display: none;
}
#menu .menu-group .menu-item.group-item .uncollapsed-icon {
  background-image: url('/images/arrow_down_black.png');
  display: inline-block;
}
#menu .menu-group.collapsed .menu-item.feed-item {
  display: none;
}
#menu .menu-group.collapsed .menu-item.group-item .collapsed-icon {
  background-image: url('/images/arrow_right_black.png');
  display: inline-block;
}
#menu .menu-group.collapsed .menu-item.group-item .uncollapsed-icon {
  background-image: url('/images/arrow_down_black.png');
  display: none;
}
#menu .menu-item {
  padding: 3px 5px;
  cursor: pointer;
  margin-bottom: 1px;
}
#menu .menu-item:hover {
  background-color: #bdc3c7;
}
#menu .menu-item.selected {
  background-color: #16a085;
}
#menu .menu-item .icon {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
#menu .menu-item .collapsed-icon {
  background-image: url('/images/arrow_right_black.png');
  display: none;
}
#menu .menu-item .uncollapsed-icon {
  background-image: url('/images/arrow_down_black.png');
  display: inline-block;
}
#menu .menu-item.collapsed.feed-item {
  display: none;
}
#menu .menu-item.collapsed .collapsed-icon {
  background-image: url('/images/arrow_right_black.png');
  display: inline-block;
}
#menu .menu-item.collapsed .uncollapsed-icon {
  background-image: url('/images/arrow_down_black.png');
  display: none;
}
#menu .menu-item .title {
  vertical-align: middle;
  padding-left: 8px;
}
#menu .menu-item.feed-item .title {
  padding-left: 24px;
}
#menu .menu-item .unread-count {
  vertical-align: middle;
  padding-left: 3px;
}
#menu #logout-menu-item a {
  text-decoration: none;
  color: #000000;
}
#menu #logout-menu-item .icon {
  background-image: url('/images/logout_black.png');
}
#menu #home-menu-item .icon {
  background-image: url('/images/home_black.png');
}
#menu #all-items-menu-item .icon {
  background-image: url('/images/list_black.png');
}
#menu #settings-menu-item .icon {
  background-image: url('/images/gear_black.png');
}
#main-area {
  padding-left: 210px;
  margin-right: 5px;
}
#footer {
  clear: both;
}
#nav-bar {
  position: fixed;
  width: 100%;
  background-color: #ecf0f1;
  padding: 5px 0px;
}
#nav-bar span {
  margin-right: 10px;
}
#nav-bar button {
  border: 1px solid #95a5a6;
  margin: 0px;
  padding: 2px;
  background-color: #bdc3c7;
  cursor: pointer;
}
#nav-bar button:hover {
  background-color: #95a5a6;
}
#nav-bar button.selected {
  background-color: #16a085;
}
#nav-bar button img {
  width: 20px;
  height: 20px;
  padding: 1px;
}
#feed-entries-container {
  overflow-y: auto;
  padding-top: 38px;
}
#feed-entries {
  width: 100%;
}
#feed-entries .feed-entry .breadcrumb .title {
  width: 100%;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
#feed-entries .feed-entry .breadcrumb td {
  cursor: pointer;
  border-top: 1px solid #333;
  white-space: nowrap;
  padding: 3px 3px;
  vertical-align: middle;
}
#feed-entries .feed-entry .breadcrumb:hover td {
  background-color: #16a085;
}
#feed-entries .feed-entry .breadcrumb .star-buttons button {
  cursor: pointer;
  border: none;
  background: none;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  padding: 3px 0px;
}
#feed-entries .feed-entry .breadcrumb .star-buttons button.star {
  background-image: url('/images/star_grey.png');
}
#feed-entries .feed-entry .breadcrumb .star-buttons button.star:hover {
  background-image: url('/images/star_light.png');
}
#feed-entries .feed-entry .breadcrumb .star-buttons button.unstar {
  background-image: url('/images/star_yellow.png');
}
#feed-entries .feed-entry .breadcrumb .star-buttons button.unstar:hover {
  background-image: url('/images/star_light.png');
}
#feed-entries .feed-entry.unread .breadcrumb td {
  background-color: #bdc3c7;
}
#feed-entries .feed-entry.unread .breadcrumb:hover td {
  background-color: #16a085;
}
#feed-entries .feed-entry tr.detail td {
  padding: 5px 30px;
}
.subscription-group-stat {
  background-color: #bdc3c7;
  margin-bottom: 10px;
}
.subscription-group-stat .group-title {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.subscription-group-stat .subscription-stat {
  text-align: center;
  padding: 20px 0px;
}
.subscription-group-stat .subscription-stat .title {
  font-weight: bold;
}
.subscription-group-stat .subscription-stat .subtitle a {
  color: #000000;
}
.subscription-group-stat .subscription-stat .description {
  font-style: italic;
  padding-top: 10px;
}
.subscription-group-stat .subscription-stat .stats {
  padding-top: 10px;
}
.subscription-group-stat .subscription-stat .stats div {
  width: 33%;
  display: inline-table;
}
.subscription-group-stat .subscription-stat .stats div span {
  font-size: 120%;
  font-weight: bold;
}
.settings-group .group-title {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}
.settings-group .group-title span {
  cursor: pointer;
}
.settings-group .settings-item {
  padding: 0px 10px 10px 10px;
  text-align: center;
}
.settings-group .settings-item .title {
  cursor: pointer;
}
.settings-group tr {
  height: 30px;
}
.settings-group td {
  width: 500px;
}
.settings-group td.action {
  width: 32px;
}
.delete-button {
  border: 1px solid #95a5a6;
  margin: 0px;
  padding: 2px;
  background-color: #bdc3c7;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #95a5a6;
}
.delete-button.selected {
  background-color: #16a085;
}
.delete-button img {
  width: 20px;
  height: 20px;
  padding: 1px;
}
textarea#export-import,
textarea#import-log {
  width: 95%;
  height: 300px;
  margin: 5px 0px;
}
input {
  margin: 0px 3px;
}
input[type='submit'],
input[type='image'] {
  vertical-align: middle;
  padding: 2px;
  background-color: #bdc3c7;
  border: 1px solid #95a5a6;
  cursor: pointer;
}
input[type='submit']:hover,
input[type='image']:hover {
  background-color: #95a5a6;
}
input[type='image'] {
  width: 20px;
  height: 20px;
}
input[type='text'] {
  border-width: 0px;
  height: 24px;
  padding: 1px 2px;
}
select {
  height: 24px;
  border-width: 0px;
}
#subscription-form {
  padding: 10px 0px;
}
