@clr-default: #000;

@clr-soft: #ececec;
@clr-main: #d2d7d3;

:focus {
	outline: none !important;
}
::-moz-focus-inner {
	border: 0;
} 

body {
	font-size: 120%;
	padding-top: 53px;
}

#menu, #main-area, #nav-brand, #nav-main {
	padding-left: 5px;
	padding-right: 5px;
}

#menu, #nav-brand {
	position: fixed;
}

#menu {
	top: 55px;
	bottom: 0;
	overflow-y: auto;
}

.reader-menu {
	.menu-item {
		padding: 3px 5px;
		cursor: pointer;
		&:hover {
			background-color: @clr-main;
		}
		&.selected {
			background-color: @clr-main;
		}
		.title {
			padding-left: 8px;
		}
		&.feed-item .title {
			padding-left: 32px;
		}
	}
	#logout-menu-item {
		a {
			text-decoration: none;
			color: @clr-default;
			padding: 0px 0px;
			background: none;
		}
	}
}

#posts {
	table-layout: fixed;
	tr.article-breadcrumb {
		td {
			cursor: pointer;
			padding: 2px 3px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.info td {
			background-color: @clr-soft;
		}
		&:hover td {
			background-color: @clr-main;
		}
		.action-buttons {
			width: 32px;
			button {
				border: none;
				background: none;
				font-size: 100%;
				padding: 0px 3px;
				&:active {
					box-shadow: none;
				}
				&.star {
					color: #a3b1b2;
					&:hover {
						color: #f2ca27;
					}
				}
				&.unstar {
					color: #f4a62a;
					&:hover {
						color: #f2ca27;
					}
				}
				&.delete {
					color: #a3b1b2;
					&:hover {
						color: #d14233;
					}
				}
			}
		}
		.feed-title {
			width: 150px;
		}
		.title {}
		.date {
			width: 150px;
		}
	}
	tr.article-detail td {
		padding: 5px 30px;
		.title {
			font-weight: bolder;
		}
		.description img {
			max-width: 100%;
		}
		.header, .description, .footer {
			padding: 5px 0px;
		}
	}
}

.subscription-group-stat {
    margin-bottom: 10px;
	.group-title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		padding-top: 10px;
	}
	.subscription-stat {
		text-align: center;
		padding: 20px 0px;
		.status {
			&.ok {
				color: green;
			}
			&.warning {
				color: orange;
			}
			&.error {
				color: red;
			}
		}
		.title {
			font-weight: bold;
		}
		.description {
			font-style: italic;
			padding-top: 10px;
		}
		.stats div {
			padding-top: 10px;
		    span {
		    	font-weight: bold;
		    }
		}
	}	
}

.settings-group {
	.group-title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		span {
			cursor: pointer;
		}
	}
	.settings-item {
	    text-align: center;
	    .title {
	    	cursor: pointer;
	    }
	}
}

#settings-contents textarea {
	font-family: monospace;
}

.reader-menu {
	.navbar-nav {
		margin: 0px;
	}
}

nav.navbar.navbar-default.navbar-fixed-top {
	.btn-group>.btn:first-child {
		margin-left: 5px;
	}
	.navbar-brand {
		padding: 10px 15px;
		img {
			width: 32px;
		}
	}
	.navbar-header {
		height: 53px;
		.nav.navbar-nav {
			margin: 1.5px 0px;
		}
	}
}

.navbar-toggle, .navbar-btn {
	z-index: 1;
}

.form-inline {
	padding: 5px 0px;
}

.table td.title {
	width: 100%;
}

.modal {
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 24px;
		margin-bottom: 10px;
	}
}
