#menu {
	width: 300px;
	float: left;
}

#main-area {
	padding-left: 305px;
}

#footer {
	clear: both;
}

.subscription-menu-item {
	cursor: pointer;
}

.feed-entry .breadcrumb .title {
	cursor: pointer;
}

.feed-entry.unread .breadcrumb .title {
	font-weight: bold;
}