@clr-bg-default: #ecf0f1;
@clr-bg-soft: #bdc3c7;
@clr-bg-hard-1: #95a5a6;
@clr-bg-hard-2: #16a085;

@clr-default: #000;

@menu-width: 200px;
@menu-icon-width: 16px;

.bg-img(@img-name) {
	background-image: url('/images/@{img-name}.png');
}

button::-moz-focus-inner {
	border: 0;
} 

body {
	font-family: Helvetica;
	background-color: @clr-bg-default;
	color: @clr-default;
	font-size: 110%;
}

.menu-icon {
	background-repeat: no-repeat;
	background-size: @menu-icon-width @menu-icon-width;
	width: @menu-icon-width;
	height: @menu-icon-width;
	display: inline-block;
	vertical-align: middle;
}

#menu {
	position: fixed;
	width: @menu-width;
	float: left;
	margin: 0px 0px 0px 5px;
	.menu-group {
		.menu-item.group-item {
			.icon {
				.menu-icon;
			}
			.collapsed-icon {
				.bg-img('arrow_right_black');
				display: none;
			}
			.uncollapsed-icon {
				.bg-img('arrow_down_black');
				display: inline-block;
			}
		}
		&.collapsed {
			.menu-item {
				&.feed-item {
					display: none;
				}
				&.group-item {
					.collapsed-icon {
						.bg-img('arrow_right_black');
						display: inline-block;
					}
					.uncollapsed-icon {
						.bg-img('arrow_down_black');
						display: none;
					}
				}
			}
		}
	}
	.menu-item {
		padding: 3px 5px;
		cursor: pointer;
		margin-bottom: 1px;
		&:hover {
			background-color: @clr-bg-soft;
		}
		&.selected {
			background-color: @clr-bg-hard-2;
		}
		.icon {
			.menu-icon;
		}
		.collapsed-icon {
			.bg-img('arrow_right_black');
			display: none;
		}
		.uncollapsed-icon {
			.bg-img('arrow_down_black');
			display: inline-block;
		}
		&.collapsed {
			&.feed-item {
				display: none;
			}
			.collapsed-icon {
				.bg-img('arrow_right_black');
				display: inline-block;
			}
			.uncollapsed-icon {
				.bg-img('arrow_down_black');
				display: none;
			}
		}
		.title {
			vertical-align: middle;
			padding-left: 8px;
		}
		&.feed-item .title {
			padding-left: 24px;
		}
		.unread-count {
			vertical-align: middle;
			padding-left: 3px;
		}
	}
	#logout-menu-item {
		a {
			text-decoration: none;
			color: @clr-default;
		}
		.icon {
			.bg-img('logout_black');
		}
	}
	#home-menu-item {
		.icon {
			.bg-img('home_black');
		}
	}
	#all-items-menu-item {
		.icon {
			.bg-img('list_black');
		}
	}
	#settings-menu-item {
		.icon {
			.bg-img('gear_black');
		}
	}
}

#main-area {
	padding-left: (@menu-width + 10px);
	margin-right: 5px;
}

#footer {
	clear: both;
}

#nav-bar {
	position: fixed;
	width: 100%;
	background-color: @clr-bg-default;
	padding: 5px 0px;
	span {
		margin-right: 10px;
	}
	button {
		border: 1px solid @clr-bg-hard-1;
		@selected-border-color: #aaa;
		@img-size: 20px;
		@img-padding: 1px;
		margin: 0px;
		padding: 2px;
		background-color: @clr-bg-soft;
		cursor: pointer;
		&:hover {
			background-color: @clr-bg-hard-1;
		}
		&.selected {
			background-color: @clr-bg-hard-2;
		}
		img {
			width: @img-size;
			height: @img-size;
			padding: @img-padding;
		}
	}
}

#feed-entries-container {
	overflow-y: auto;
	padding-top: 38px;
}

#feed-entries {
	width: 100%;
	.feed-entry {
		.breadcrumb {
			.title {
				width: 100%;
				max-width: 700px;
				padding-left: 10px;
				padding-right: 10px;
				overflow: hidden;
			}
			td {
				cursor: pointer;
				border-top: 1px solid #333;
				white-space: nowrap;
				padding: 3px 3px;
				vertical-align: middle;
			}
			&:hover td {
				background-color: @clr-bg-hard-2;
			}
			.star-buttons button {
				@button-size: 22px;
				cursor: pointer;
				border: none;
				background: none;
				background-size: @button-size @button-size;
				width: @button-size;
				height: @button-size;
				padding: 3px 0px;
				&.star {
					.bg-img('star_grey');
					&:hover {
						.bg-img('star_light');
					}
				}
				&.unstar {
					.bg-img('star_yellow');
					&:hover {
						.bg-img('star_light');
					}
				}
			}
		}
		&.unread .breadcrumb {
			td {
				background-color: @clr-bg-soft;
			}
			&:hover td {
				background-color: @clr-bg-hard-2;
			}
		}
		tr.detail td {
			padding: 5px 30px;
		}
	}
}

.subscription-group-stat {
	background-color: @clr-bg-soft;
    margin-bottom: 10px;
	.group-title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		padding-top: 10px;
	}
	.subscription-stat {
		text-align: center;
		padding: 20px 0px;
		.title {
			font-weight: bold; 
		}
		.subtitle a {
			color: @clr-default;
		}
		.description {
			font-style: italic;
			padding-top: 10px;
		}
		.stats {
			padding-top: 10px; 
			div {
			    width: 33%;
			    display: inline-table;
			    span {
			    	font-size: 120%;
			    	font-weight: bold;
			    }
			}
		}
	}	
}

.settings-group {
	.group-title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		padding: 10px 0px;
		span {
			cursor: pointer;
		}
	}
	.settings-item {
	    padding: 0px 10px 10px 10px;
	    text-align: center;
	    .title {
	    	cursor: pointer;
	    }
	}
	tr {
		height: 30px;
	}
	td {
		width: 500px;
	}
	td.action {
		width: 32px;
	}
}

.delete-button {
	border: 1px solid @clr-bg-hard-1;
	@selected-border-color: #aaa;
	@img-size: 20px;
	@img-padding: 1px;
	margin: 0px;
	padding: 2px;
	background-color: @clr-bg-soft;
	cursor: pointer;
	&:hover {
		background-color: @clr-bg-hard-1;
	}
	&.selected {
		background-color: @clr-bg-hard-2;
	}
	img {
		width: @img-size;
		height: @img-size;
		padding: @img-padding;
	}
}

textarea#export-import,
textarea#import-log {
	width: 95%;
	height: 300px;
	margin: 5px 0px;
}

input {
    margin: 0px 3px;
}

input[type='submit'],
input[type='image'] {
	vertical-align: middle;
	padding : 2px;
	background-color: @clr-bg-soft;
	border: 1px solid @clr-bg-hard-1;
	cursor: pointer;
	&:hover {
		background-color: @clr-bg-hard-1;
	}
}

input[type='image'] {
	width: 20px;
	height: 20px;
}

input[type='text'] {
    border-width: 0px;
    height: 24px;
    padding: 1px 2px;
}

select {
    height: 24px;
    border-width: 0px;
}

#subscription-form {
	padding: 10px 0px;
}
