<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<import resource="classpath:/jreader-services.xml" />
 	
 	<util:properties id="readerProps" location="/WEB-INF/reader.properties" />
 	
	<mvc:annotation-driven />

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="googleUserService"
		class="com.google.appengine.api.users.UserServiceFactory" factory-method="getUserService" />
	
	<bean class="jreader.web.controller.PageController">
		<property name="userService" ref="userService" />
		<property name="googleUserService" ref="googleUserService" />
	</bean>
	
	<bean class="jreader.web.controller.AjaxController">
		<property name="subscriptionService" ref="subscriptionService" />
		<property name="feedService" ref="feedService" />
		<property name="feedEntryService" ref="feedEntryService" />
		<property name="pageSize" value="#{readerProps.pageSize}" />
	</bean>

</beans>